* {
	background-image: none;
	box-shadow: none;
}
window {
	background-color: rgba(46, 52, 64, 0.9);
}

button {
	background-color: #263748;
	border-style: solid;
	border-width: 0px;
	border-radius: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	color: #e6e6e6;
	outline-style: none;
	margin: 0px -2px 0px 0px;
}

button:hover {
	border-width: 0px;
	background-color: #4580ad;
	color: #e6e6e6;
	outline-style: none;
}

#lock {
	background-image: url("/home/alpha/.config/wlogout/icons/lock.svg"),
	url("/home/alpha/.config/wlogout/icons/lock.svg");
}
  
#logout {
background-image: url("/home/alpha/.config/wlogout/icons/logout.svg"),
	url("/home/alpha/.config/wlogout/icons/logout.svg");
}

#suspend {
background-image: url("/home/alpha/.config/wlogout/icons/suspend.svg"),
	url("/home/alpha/.config/wlogout/icons/suspend.svg");
}

#hibernate {
background-image: url("/home/alpha/.config/wlogout/icons/hibernate.svg"),
	url("/home/alpha/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
background-color: #D95F69;
background-image: url("/home/alpha/.config/wlogout/icons/shutdown.svg"),
	url("/home/alpha/.config/wlogout/icons/shutdown.svg");
}

#reboot {
background-image: url("/home/alpha/.config/wlogout/icons/reboot.svg"),
	url("/home/alpha/.config/wlogout/icons/reboot.svg");
}